.to-left { float: left !important; }
.to-right { float: right !important; }
.no-float { float: none !important; }
.clear-left { clear: left !important; }
.clear-right { clear: right !important; }
.clear-both { clear: both !important; }
