@import "../base/global-variables.scss";
@import "../base/colors.scss";

$popover-padding: 1rem;
$popover-min-width: 10rem;
$popover-border-color: $BORDER_COLOR;
$popover-background-color: $white;
$popover-border-radius: 0.25em;

// div
.popover {
    font-size: 1.6rem;
    position: absolute;
    z-index: 25;
    padding: $popover-padding;
    min-width: $popover-min-width;
    border-radius: $popover-border-radius;
    border: 0.1rem solid $popover-border-color;
    background-color: $popover-background-color;
    white-space: nowrap;
    left: 50%;
    bottom: 100%;
    transform: translate(-50%, 0%);

    &.on-bottom {
        bottom: initial;
    }

    &.on-left {
        left: initial;
        bottom: 50%;
        transform: translate(-100%, 50%);
    }

    &.on-right {
        left: 100%;
        bottom: 50%;
        transform: initial;
        transform: translate(0%, 50%);
    }
}