.o-scroll { overflow: scroll !important; }
.o-auto { overflow: auto !important; }
.o-hidden { overflow: hidden !important; }

.ox-scroll { overflow-x: scroll !important; }
.ox-auto { overflow-x: auto !important; }
.ox-hidden { overflow-x: hidden !important; }

.oy-scroll { overflow-y: scroll !important; }
.oy-auto { overflow-y: auto !important; }
.oy-hidden { overflow-y: hidden !important; }