.left-top {
  left: 0;
  top: 0;
}

.left-center {
  left: 0;
  top: 50%;
  transform: translate(0%, -50%);
}

.left-bottom {
  left: 0;
  bottom: 0;
}

.center-top {
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}

.center-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.center-bottom {
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
}

.right-top {
  right: 0;
  top: 0;
}

.right-center {
  right: 0;
  top: 50%;
  transform: translate(0%, -50%);
}

.right-bottom {
  right: 0;
  bottom: 0;
}